# MedHash Tools
# Copyright (c) 2021 GHIFARI160

# OS-Specific ignores
# Windows
Thumbs.db

# macOS
.DS_Store

# Linux
lost+found

# Stack-specific ignores
dist/
out/

# IDE-specific ignores
.vscode

# Project-specific ignores
medhash.json
sums.txt
